

h1{
	color:#8bbd52;

}

#bodyText{
	color:#508534;
	padding:15px;

}

#mainPageBody{
	font-size: 1em;
    line-height: 1.4;
    background-image:url('../img/backgrounds/Vermont.png');
    background-position: center;
    background-repeat: no-repeat;
}

#homeButton{
	text-align: center;
	color:#ffffff;
	font:Arial;
	font-size: 30px;
	line-height: 104px;
	background-image:url('../img/backgrounds/button.png');
	background-position:center;
	height: 104px;
	background-repeat: no-repeat;
	padding:30px;
	margin-left:30px;
	margin-right:30px;
	margin-top:10px;
	margin-bottom:10px;

}
