body{
	/*height:100%;
	width:100%;*/
	/*text-align:center;*/
	background-image: url('../img/backgrounds/dark_dotted2.png');
	list-style-type: none;
}

a, a:hover, a:visited{
	text-decoration:none;
	color:inherit;
}



.mobileContainer{
	height:90%;
	width:95%;
	margin:auto;
	/*background:#ddd;*/
}

.nav{
	position:relative;
	z-index:200;
	margin:5px 0px 0px 0px;
	width:100%;
	padding:0px;
	text-align:center;
}

/*.nav li{
	margin:0px;
	padding:0px;
	display:inline-block;
	width:32%;
	border:solid 1px #000;
}
*/
	.nav li{
		display:inline;
	}
    .nav a{
    	display:block;
    	width:32%;
        cursor:pointer;
        
        -moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
        -webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
        box-shadow:inset 0px 0px 14px -3px #f2fadc;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
        background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
        
        background-color:#dbe6c4;
        
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:2px;
        
        border:1px solid #b2b8ad;
        
        display:inline-block;
        color:#444;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:8% 0% 8% 0%;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #ced9bf;
        
    }
    .nav a:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
        background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
        
        background-color:#9ba892;
    }
    .nav a:active {
        position:relative;
        top:1px;
    }
