

h1{
	color:#8bbd52;
	padding-top:20px;

}

#bodyText{
	color:#508534;
	padding:30px;


}

#mainPageBody{
	font-size: 1em;
    line-height: 1.4;
    background-image:url('../img/backgrounds/Vermont.png');
    background-position: center;
    background-repeat: no-repeat;
}


.start{
	padding-top:20px;
	padding-bottom:30px;
	margin-bottom:10px;
<<<<<<< HEAD
	text-align: center;
=======
    width: 60%;
    margin:auto;
>>>>>>> 8936b436f4f8ee767c0516d53306ee67a06858b5
}

.start a{
    text-align: center;
	display:block;
	width:100%;
   

    -moz-box-shadow:inset 0px 0px 14px -3px #339900;
    -webkit-box-shadow:inset 0px 0px 14px -3px #339900;
    box-shadow:inset 0px 0px 14px -3px #339900;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #336600));
    background:-moz-linear-gradient(top, #dbe6c4 5%, #336600 100%);
    background:-webkit-linear-gradient(top, #dbe6c4 5%, #336600 100%);
    background:-o-linear-gradient(top, #dbe6c4 5%, #336600 100%);
    background:-ms-linear-gradient(top, #dbe6c4 5%, #336600 100%);
    background:linear-gradient(to bottom, #dbe6c4 5%, #336600 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#336600',GradientType=0);
    
    background-color:#336600;
    
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    
    border:1px solid #b2b8ad;
    
    display:inline-block;
    color:#444;
    font-family:arial;
    font-size:30px;
    font-weight:bold;
    padding:6px 0px 6px 0px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #339900;
    
}

.start a:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
    background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
    
    background-color:#9ba892;
}
.start a:active {
    position:relative;
    top:1px;
}



.stop{
	padding-top:30px;
	padding-bottom:20px;
	margin-top:10px;
<<<<<<< HEAD
	text-align: center;
=======
    margin:auto;
    width:60%;
>>>>>>> 8936b436f4f8ee767c0516d53306ee67a06858b5
}

.stop a{
    text-align:center;
	display:block;
	width:100%;


    -moz-box-shadow:inset 0px 0px 14px -3px #508534;
    -webkit-box-shadow:inset 0px 0px 14px -3px #508534;
    box-shadow:inset 0px 0px 14px -3px #508534;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #CC0000));
    background:-moz-linear-gradient(top, #dbe6c4 5%, #CC0000 100%);
    background:-webkit-linear-gradient(top, #dbe6c4 5%, #CC0000 100%);
    background:-o-linear-gradient(top, #dbe6c4 5%, #CC0000 100%);
    background:-ms-linear-gradient(top, #dbe6c4 5%, #CC0000 100%);
    background:linear-gradient(to bottom, #dbe6c4 5%, #CC0000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#CC0000s',GradientType=0);
    
    background-color:#508534;
    
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    
    border:1px solid #b2b8ad;
    
    display:inline-block;
    color:#444;
    font-family:arial;
    font-size:30px;
    font-weight:bold;
    padding:6px 0px 6px 0px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #CC0000;
    
}

.stop a:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
    background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
    
    background-color:#9ba892;
}
.stop a:active {
    position:relative;
    top:1px;
}


h1{
	text-align: center;
}