ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
}

#map-canvas{
	/*float:left;*/
	position:absolute;
	/*top:30px;*/
	z-index:10;
	width:100%;
	height:80%;
	margin:auto;
	margin-top:5px;
	/*margin-top:10px;*/
}

.mapContainer{
	height:90%;
	width:100%;
}

.toggleContainer{
	/*letter-spacing: 1em;*/
 		/*word-spacing: 1em;	*/
	text-align:left;
	padding:5px 7px 5px 5px;
	background: url('../img/backgrounds/80_percent_white.png');
	position:absolute;
	z-index:15;
	top:85%;
	width:180px;
	color:black;
	/*border:solid 1px blue;*/
	-webkit-box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]{
	margin-right:3px;
}

#markerTypeDialog{
	float:left;
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
	width:100%;
	height:100%;
	background: url('../img/backgrounds/80_percent_black.png');
	display:none;
}

#markerTypeDialogNest{

	width:90%;
	/*height:200px;*/
	margin:auto;
	margin-top: 50%;
	text-align: center;

}
#markerTypeDialogNest input{
	width: 80%;
	padding: 1.25em;	
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1em;

}

#selectPickup, .pickup{
	background: #b4e391; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#selectComment, .comment{
	background: #b3dced; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b3dced), color-stop(50%,#29b8e5), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse covserverer, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#selectTrash,.helpme{
	background: #ff1a00; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ff1a00 0%, #ff1a00 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ff1a00), color-stop(100%,#ff1a00)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #ff1a00 0%,#ff1a00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #ff1a00 0%,#ff1a00 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #ff1a00 0%,#ff1a00 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #ff1a00 0%,#ff1a00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.labels{
	width:30px;
	height:30px;
}

.infowindow{

	padding: 0;
}
.infowindow textarea{
	margin: 0;
	padding: 0;
	width: 90%;
	height: 100px;
}

.infowindow input{
	width: 100%;
}

