.message{
	margin: 4em;
	border-radius: 2em;
	border: solid thick #000000;
        }
ul.message{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 1em;
}
#moar{
        margin: 1em;
        padding: 1em;
}
form{
        width: 100%;
}
form select{
        margin: .5em;
        margin-bottom: .25em; 
}
form textarea{
        margin: 1em;
        margin-top: .25em;
        width: 90%;
}
