body{
    overflow-x:hidden;
}

ul{
	list-style-type: none;
}

#navLogo{
	margin:-15px 0px 0px -10px;
	padding:0px;
	display:inline;

}

.navBar{
    position:relative;
    z-index: 300;
}

.navbar-default{
    -webkit-box-shadow: 0px 6px 4px 0px rgba(3, 3, 3, 0.2);    
    box-shadow: 0px 6px 4px 0px rgba(3, 3, 3, 0.2);
}

.col-md-8{
}

.col-md-4{
	border:solid 1px #aaa;
}

.col-md-12{
    width: 100%;
    height: 100%;
}

.row{
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
}

#map-canvas{
/*    min-height:450px;
    min-width:500px;*/
    position:relative;
    z-index: 225;
    margin-top: -20px;
	width:100%;
	height:80%;
	border:solid 1px #999;
    /*-webkit-box-shadow: 0px 10px 6px 0px rgba(3, 3, 3, 0.2);    */
    /*box-shadow: 0px 10px 6px 0px rgba(3, 3, 3, 0.2);*/
}

#infoIcon{
    float:right;
    position:absolute;
    top: 80%;
    right:40px;
    height:40px;
    width:40px;
    z-index:250;
    cursor:pointer;

}

.markerTypeSelectDialog{
	float:right;
	position:absolute;
	top:-300px;
	z-index: 230;
	width: 100%;
	height: 30%;
	background: #aaa;
	margin:auto;
	/*margin-top: 60%;*/
	border:solid 1px #999;
	/*-webkit-box-shadow:  0px 6px 20px -8px rgba(3, 3, 3, 0.7);
    box-shadow:  0px 6px 20px -8px rgba(3, 3, 3, 0.7);*/

    -webkit-box-shadow: 0px 10px 6px 0px rgba(3, 3, 3, 0.2);    
    box-shadow: 0px 10px 6px 0px rgba(3, 3, 3, 0.2);

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

#analyticsDialog{
    min-height:100px;
    width:100%;
    background: #eee;
}

.analyticsColumnContainer{

    height:100%;
    width: 100%;
    text-align: center;
}

.analyticsHeader{
    font-size: 1.2em;
    font-weight: bold;
}

.nestedAnalyticsColumn{
    vertical-align: top;
    border-right:solid 1px #ccc;
    width: 32.5%;
    height: 100%;
    display:inline-block;
}

.nestedAnalyticsColumn div{
    text-align: left;
    padding: 0px 0px 0px 5px;
}

.analyticsData li{
    font-size: 0.9em;
    font-weight: bold;
    padding: 2px;
}

.analyticsDataPoint{
    float:right;
    margin-left: 20px;
    /*font-size: 1.2em;*/
}

.usageDataNestColumn{
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

#usageDataChart{
    position:relative;
    z-index:100;
    display:inline-block;
    float:right;
    vertical-align: top;
    margin-top: -27px;
}

#markerTypeDialog{
	/*display:none;*/
	padding:5px;
}

#markerTextarea{
	display:inline-block;
	font-size:1.3em;
	/*margin-left: -30px;*/
	height:150px;
	width:350px;
}

.markerTypeInputLabel{
/*	padding:90px 0px 40px 0px;*/
	/*float:left;*/
	/*margin: 30px 0px 0px -30px;*/
	font-size:1.2em;
	font-weight:bold;
	color:#999;
	display:block;
	/*border:solid 1px red;*/
	/*display:inline-block;*/
	/*transform: rotate(-90deg);*/
	/*-ms-transform: rotate(-90deg); /* IE 9 */
	/*-webkit-transform: rotate(-90deg); /* Safari and Chrome */*/
}

.markerTypeNestColumn{
	vertical-align: top;
	display:inline-block;
	/*border:solid 1px green;*/
	/*margin:0px 20px 0px 0px;*/
}

#markerIconNest{
	/*margin-left: -30px;*/
	text-align: left;

}

#markerIconNest ul{
	width:200px;
	height:180px;
	/*border:solid 1px blue;*/
	margin:0px;
	padding:0px;
}

#markerIconNest li{
	cursor:pointer;
	display:inline-block;
  font-family: Arial;
  color: #8f8f8f;
  padding: 2px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin:2px;
  -webkit-box-shadow: 0px 0px 2px #666666;
  -moz-box-shadow: 0px 0px 2px #666666;
  box-shadow: 0px 0px 2px #666666;
  text-shadow: 1px 0px 2px #fafafa;
  border: solid #a3a3a3 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#bfbfbf));
  background: -moz-linear-gradient(top, #f0f0f0, #bfbfbf);
}
#markerIconNest li:hover {
  background: #c7c7c7;
}

#coordsInputNest li{
	text-align:right;
}

#coordsInputNest input{
	margin:0px 0px 0px 10px;
}


#mapCover{
	min-height:600px;
	min-width:500px;
	width:100%;
	height:100%;
	position: absolute;
	top:0px;
	/*z-index:950;*/
	/*background-image: url('images/backgrounds/80_percent_black.png');*/
}

.nestLabel{
	font-size:1.4em;
	font-weight: bold;
	color: red;
	float:left;
	margin:-30px 0px 0px 0px;
}

.commentsAdminContainer{
	display:none;
}



.bubble{
    opacity: 1;
    transition: opacity .25s ease-in-out;
    vertical-align: top;
    text-align:left;
    width: 90%;
    position: relative;
    margin-top:30px;
    height: auto;
    padding: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.bubbleRight{
    margin-left:3%;
}

.bubbleRight:after {
    content: "";
    position: absolute;
    bottom: -12px;
    right: 5%;
    border-style: solid;
    border-width: 15px 15px 0;
    display: block;
    width: 0;
    z-index: 1;
}

.bubbleLeft{
}

.bubbleLeft:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 5%;
    border-style: solid;
    border-width: 15px 15px 0;
    display: block;
    width: 0;
    z-index: 1;
}

.bubbleTrash{
    background: #6fb9ec;
}

.bubbleForum{
    background: #7ccc83;
}

.bubbleForum:after{
    border-color: #7ccc83 transparent;  
}
.bubbleNeeds{
    background: #6fb9ec;
}
.bubbleNeeds:after{
    border-color: #6fb9ec transparent;
}
.bubbleMessage{
    background:#fbc883;
}
.bubbleMessage:after{
    border-color: #fbc883 transparent;
}

#comment_submission_form{
    display:none;
}

.bubbleTime{
    display:inline-block;
    float:right;
    margin:2px 3px 0px 0px;
    color:#111;
    font-style: italic;
    font-size:0.3em;
}

.bannedCommentInputNest{
	height: 300px;
	width:200px;
	border:solid 1px red;

}

.bannedWordsListNest{
	/*border:solid 1px orange;*/
}

.bannedWordsList{
	/*border: solid 1px green;*/
	width: 100%;
	padding: 0px;
	margin: 0px;
	height:500px;
	overflow-y: scroll;
	border:solid 1px #999;
}

.bannedWordIcon{
	margin:0px;
	display: inline-block;
	padding: 3px 5px 3px 5px;
}

.banMe{
	/*border:solid 1px red;*/
}

.bannedWord{
	display:block;
	width: 100%;
	padding:5px 0px 5px 5px;
	/*padding: 3px 0px 3px 0px;*/
	/*border:solid 1px blue;*/
}

.slideToggleLabel{
    font-weight:bold;
    color: #666;
    display:inline-block;
/*    margin:0px 0px 0px 10%;*/
    padding: 0px 0px 0px 0px;
    font-size:1.5em;
    font-weight:bold;
    margin: 0px 0px 0px 10px;
}

input[type=checkbox] {
    visibility: hidden;
}


.slideToggle{
    display:inline-block;
    width: 140px;
    height: 26px;
    background: #333;
    margin: auto;
    vertical-align: top;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideToggle:after {
    content: 'ALLOWED';
    font: 12px/26px Arial, sans-serif;
    color: red;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideToggle:before {
    content: 'BANNED';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}

.slideToggle label {
    display: block;
    width: 64px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideToggle input[type=checkbox]:checked + label {
    left: 70px;
}